In [1]:
import pandas as pd

a = [1, 7, 2]

b = pd.Series(a) #creating a simple pandas series from list 

print(b)

0    1
1    7
2    2
dtype: int64

In [2]:
import pandas as pd 
import numpy as np
data=np.array(['a','b','c','d']) 
ser = pd.Series(data)
ser

0    a
1    b
2    c
3    d
dtype: object

In [3]:
print(b[0]) #return the first value of the series

1

In [4]:
print(b[1]) #return the second value of the series

7

In [13]:
#create your own labels 
#wirh the indes arguent you can name your own labels 
import pandas as pd

a = [1, 7, 2]

pooja = pd.Series(a, index = ["x", 'y', "z"]) #we use both singl and double inverted comma 

print(pooja)

x    1
y    7
z    2
dtype: int64

In [11]:
print(pooja['y'])

7

In [14]:
print(pooja['z']) #also we can call with single inverted comma

2

In [17]:
import pandas as pd

calories = {'day1': 420, "day2": 380, "day3": 390} #key value object as series 

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [18]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

data = pd.Series(calories, index = ["day1", "day2"]) #by giving argument we can only call that row

print(data)

day1    420
day2    380
dtype: int64

In [19]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data) # creating a dataframe with two colums or series 

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45